{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Les stations de ski du domaine "Espace Diamant" :</h1>

    <ul class="station">
        {% for station in stations %}
            <div>
                <a href="{{ path('station_index', {'id': station.id}) }}"><li>{{ station.StationName }}</li></a>
            </div>
        {% endfor %}
    </ul>
</div>

{% endblock %}
